{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">

    <div class="card" style="max-width: 450px; margin: auto;">

        <h2 style="text-align:center;">Create Account 🚀</h2>
        <p style="text-align:center; color:#777;">Join Happy Camp today</p>

        <form method="post">
            {% csrf_token %}

            <label>Email</label>
            {{ form.email }}
            {{ form.email.errors }}

            <label>Phone Number</label>
            {{ form.phone_number }}
            {{ form.phone_number.errors }}

            <label>Role</label>
            {{ form.role }}
            {{ form.role.errors }}

            <label>Password</label>
            {{ form.password1 }}
            {{ form.password1.errors }}

            <label>Confirm Password</label>
            {{ form.password2 }}
            {{ form.password2.errors }}

            {% if form.non_field_errors %}
                <div style="color:red; margin-top:10px;">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button type="submit" style="width:100%;">Create Account</button>
        </form>

        <hr style="margin:20px 0;">

        <p style="text-align:center;">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>

</div>

</body>
</html>